<div class="inner-container jumbotron">
	<h2 class="centre-text"><div id="server-name-usage"></div>'s File Share</h1>
	<div class="separator"></div>
	<p class="text-muted centre-text">Welcome to the share centre, you can stream, download and upload files to this server.</p>
	<div class="separator"></div>
	<p class="text-muted centre-text">Would you like to watch a short video demonstrating the use of this site?</p>
	<div class="home-video-container">
		<div class="home-video">
			<iframe width="560" height="315" src="//www.youtube.com/embed/JTEWlSTQ1RI" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>