<html>
	<head>
		<title>Private File Share</title>
		<link rel="shortcut icon" href="/resources/img/favicon.png" />
		<link rel="icon" type="image/x-icon" href="/resources/img/favicon.png">
		<meta itemprop="image" content="/resources/img/favicon.png">
		<meta content="text/html; charset=utf-8" http-equiv="content-type" />
		
		<link href="/resources/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/resources/css/main.css" type="text/css" rel="stylesheet" />
		
		<script type="text/javascript" src="/resources/js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/resources/js/main.js"></script>
	</head>
	
	<body>
	
		<div class="container max-container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">View</a></li>
					<li><a href="#">Upload</a></li>
				</ul>
				<h3 class="text-muted">
					<img class="banner-logo-img" src="/resources/img/big-logo.png">
					Private File Share
				</h3>
			</div>
			
			<div class="inner-container jumbotron">
				<h1>Welcome</h1>
				<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
			</div>
			
			<div class="footer">
				<p>© Peter O'Toole 2014</p>
			</div>
		  
		</div>
	
	</body>
</html>