<html>
	<head>
		<title>Private File Share</title>
		<link rel="shortcut icon" href="/resources/img/favicon.png" />
		<link rel="icon" type="image/x-icon" href="/resources/img/favicon.png">
		<meta itemprop="image" content="/resources/img/favicon.png">
		<meta content="text/html; charset=utf-8" http-equiv="content-type" />
		
		<link href="/resources/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/resources/css/main.css" type="text/css" rel="stylesheet" />
		
		<script type="text/javascript" src="/resources/js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/resources/js/main.js"></script>
	</head>
	
	<body>
	
		<div class="container max-container">	
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li class="active"><a class="nav-buttons">Home</a></li>
					<li><a class="nav-buttons">View</a></li>
					<li><a class="nav-buttons">Upload</a></li>
				</ul>
				<h3 class="text-muted">
					<div id="banner-reload-elements">
						<img class="banner-logo-img" src="/resources/img/big-logo.png">
						Private File Share
					</div>
				</h3>
			</div>
			<div class="line-separator"></div>
			
			<div class="main-content-container">
				<div class="inner-container jumbotron">
					<h2 class="centre-text">Peter's File Share</h1>
					<div class="separator"></div>
					<p class="text-muted centre-text">Welcome to the share centre, you can stream, download and upload files to this server.</p>
					<div class="separator"></div>
					<p class="text-muted centre-text">Would you like to watch a short video demonstrating the use of this site?</p>
					<div class="home-video-container">
						<div class="home-video">
							<iframe width="560" height="315" src="//www.youtube.com/embed/JTEWlSTQ1RI" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			
			<div class="line-separator"></div>
			<div class="footer">
				<p class="right-text" >Copyright Peter O'Toole 2014</p>
			</div>
		</div>
		
		<div class="res">
			
			<span id="home-content">
				<div class="inner-container jumbotron">
					<h2 class="centre-text">Peter's File Share</h1>
					<div class="separator"></div>
					<p class="text-muted centre-text">Welcome to the share centre, you can stream, download and upload files to this server.</p>
					<div class="separator"></div>
					<p class="text-muted centre-text">Would you like to watch a short video demonstrating the use of this site?</p>
					<div class="home-video-container">
						<div class="home-video">
							<iframe width="560" height="315" src="//www.youtube.com/embed/JTEWlSTQ1RI" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</span>
			
			<span id="view-content">
				<div class="view-content-container row">
					
					<div class="col-md-4">
						<ul class="nav nav-pills pull-right">
							<li class="active"><a class="nav-buttons">Music</a></li>
							<li><a class="nav-buttons">Films</a></li>
							<li><a class="nav-buttons">TV</a></li>
						</ul>
					</div>
					
					<div class="col-md-8">
					
					</div>					
				</div>
			
			</span>
			
			<span id="upload-content"></span>
			
		</div>
	</body>
</html>